$circle-border-radius: dynamic(50%);
$base-border-color: dynamic(#ddd);
$lightest-color: dynamic(#fff);
$font-weight: dynamic(400);
$font-weight-bold: dynamic(500);

$social-facebook-btn-background: dynamic(#167abc);
$social-twitter-btn-background: dynamic(#03b4d5);
$social-google-plus-btn-background: dynamic(#e44959);
$social-envelope-btn-background: dynamic(#7754aa);

$treelist-navigation-background-color: dynamic(#1b2433);//dynamic(#32404e);
$treelist-navigation-item-line-height: dynamic(40px);
$treelist-navigation-item-color: dynamic(#ADB3B8);
$treelist-navigation-item-over-color: dynamic(#03C8FD);
$treelist-navigation-item-selected-color: dynamic(#00718F);

$color-blue: dynamic(#167abc);
$color-soft-cyan: dynamic(#03b4d5);
$color-soft-blue: dynamic(#2eadf5);
$color-soft-green: dynamic(#9cc96b);
$color-soft-orange: dynamic(#ffc107);
$color-soft-red: dynamic(#e44959);
$color-soft-purple: dynamic(#925e8b);
$color-gray: dynamic(#949495);
$color-green: dynamic(#16b603);

@include treelist-ui (
    $ui: 'main-navigation',
    $padding: 0 10px,
    $background-color: $treelist-navigation-background-color,

    $tool-float-indicator-color: transparent,
    $tool-float-indicator-width: 5px,
    $tool-indicator-selected-color: $treelist-navigation-item-selected-color,
    $tool-indicator-selected-width: 5px,
    $tool-selected-background-color:  mix($treelist-navigation-item-selected-color, $treelist-navigation-background-color, 10%),


    $toolstrip-background-color: $treelist-navigation-background-color,
    
    $item-expanded-background-color: lighten($treelist-navigation-background-color, 10%),
    $item-selected-background-color: lighten($treelist-navigation-background-color, 10%),
    $item-line-height: $treelist-navigation-item-line-height,
    $item-icon-color: $treelist-navigation-item-color,
    $item-expander-color: #fff,
    $item-text-color: $treelist-navigation-item-color,
    $item-icon-over-color: $treelist-navigation-item-over-color,//#fff,
    $item-expander-over-color: $treelist-navigation-item-over-color,//#fff,
    $item-text-over-color: $treelist-navigation-item-over-color,//mix(white, $treelist-navigation-item-color, 50%),
    $item-text-font-size: 12px,
    $item-icon-font-size: 18px,
    $item-icon-width: 25px,
    $item-expander-font-size: 12px,
    $item-expander-width: 24px,

    $row-over-background-color: mix($treelist-navigation-item-over-color, $treelist-navigation-background-color, 5%),
    $row-selected-background-color: lighten($treelist-navigation-background-color, 10%),//mix($treelist-navigation-item-selected-color, $treelist-navigation-background-color, 10%),
    $row-indicator-width: 5px,
    $row-indicator-selected-color: $color-soft-red, //$treelist-navigation-item-selected-color,
    $row-indicator-selected-over-color: lighten($treelist-navigation-item-selected-color, 7%),
    $row-indicator-over-color: transparent
);

.x-treelist-item-tool {
    height: $treelist-navigation-item-line-height;
}
.x-treelist-item-icon {
    font-family: FontAwesome;
}
.main-logo {
    background-color: #ffffff;
    
    font-size: 14px;
    color: $lightest-color;
    position: relative;
    top: -12px;

    .main-logo {
        line-height: 3px;
        height: 65px;
        background: transparent; // linear-gradient(45deg, #EF4247 0%,  #D83B40 100%) repeat scroll 0 0; 

        img {
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 10px;
            position: static;
            height: 55px;
        }
    }
}
.main-logo-micro {
    background-color: transparent;
    font-size: 0px;
    margin-top: 50px;

    .main-logo {
        line-height: 3px;
        height: 45px;
        background: transparent; //linear-gradient(45deg, #EF4247 0%,  #D83B40 100%) repeat scroll 0 0; 

        img {
            margin-left: 2px;
            margin-right: 0px;
            margin-top: 20px;
            position: static;
            height: 21px;
        }
    }
}
.main-headerbar {
    padding: 0 30px 0 0;
    position: fixed;
    width: 100%;
    z-index: 10;
    border: none;
    background: #fff;//#e44959;

    .header-right-profile-image {
        border-radius: 20px;
    }

    .x-btn-inner-header-small {
        color: crimson
    }
}
.collapsed {
    .x-tree-elbow-img {
        display: none;
    }

    .x-tree-node-text {
        display: none;
    }
}
.x-grid-cell{
    position: relative;
}

//Add border around html editor field
.x-html-editor-input {
    border: 1px solid #ccc;
}

//UI Styles for buttons
@include extjs-button-small-ui(
    $ui: 'soft-blue',
    $background-color: $color-soft-blue,
    $border-color: darken($color-soft-blue, 5%)
);
@include extjs-button-large-ui(
    $ui: 'soft-blue',
    $line-height: 34px,
    $background-color: $color-soft-blue,
    $border-color: darken($color-soft-blue, 5%)
);
@include extjs-button-toolbar-small-ui(
    $ui: 'soft-blue',
    $background-color: $color-soft-blue,
    $border-color: darken($color-soft-blue, 5%)
);

@include extjs-button-small-ui(
    $ui: 'facebook',
    $background-color: $social-facebook-btn-background,
    $border-color: darken($social-facebook-btn-background, 5%)
);
@include extjs-button-large-ui(
    $ui: 'facebook',
    $line-height: 34px,
    $background-color: $social-facebook-btn-background,
    $border-color: darken($social-facebook-btn-background, 5%)
);

@include extjs-button-small-ui(
    $ui: 'soft-cyan',
    $background-color: $color-soft-cyan,
    $border-color: darken($color-soft-cyan, 5%)
);
@include extjs-button-toolbar-small-ui(
    $ui: 'soft-cyan',
    $background-color: $color-soft-cyan,
    $border-color: darken($color-soft-cyan, 5%)
);

@include extjs-button-small-ui(
    $ui: 'soft-green',
    $background-color: $color-soft-green,
    $border-color:darken($color-soft-green, 5%)
);
@include extjs-button-large-ui(
    $ui: 'soft-green',
    $line-height: 34px,
    $background-color: $color-soft-green,
    $border-color:darken($color-soft-green, 5%)
);
@include extjs-button-toolbar-small-ui(
    $ui: 'soft-green',
    $background-color: $color-soft-green,
    $border-color:darken($color-soft-green, 5%)
);

@include extjs-button-small-ui(
    $ui: 'soft-red',
    $background-color: $color-soft-red,
    $border-color:darken($color-soft-red, 5%)
);
@include extjs-button-toolbar-small-ui(
    $ui: 'soft-red',
    $background-color: $color-soft-red,
    $border-color:darken($color-soft-red, 5%)
);

@include extjs-button-small-ui(
    $ui: 'soft-purple',
    $background-color: $color-soft-purple,
    $border-color:darken($color-soft-purple, 5%)
);
@include extjs-button-toolbar-small-ui(
    $ui: 'soft-purple',
    $background-color: $color-soft-purple,
    $border-color:darken($color-soft-purple, 5%)
);

@include extjs-button-small-ui(
    $ui: 'gray',
    $background-color: $color-gray,
    $border-color:darken($color-gray, 5%)
);
@include extjs-button-large-ui(
    $ui: 'gray',
    $line-height: 34px,
    $background-color: $color-gray,
    $border-color:darken($color-gray, 5%)
);
@include extjs-button-toolbar-small-ui(
    $ui: 'gray',
    $background-color: $color-gray,
    $border-color:darken($color-gray, 5%)
);

@include extjs-button-small-ui(
    $ui: 'green',
    $background-color: $color-green,
    $border-color:darken($color-green, 5%)
);
@include extjs-button-toolbar-small-ui(
    $ui: 'green',
    $background-color: $color-green,
    $border-color:darken($color-green, 5%)
);

@include extjs-button-small-ui(
    $ui: 'blue',
    $background-color: $color-blue,
    $border-color:darken($color-blue, 5%)
);
@include extjs-button-toolbar-small-ui(
    $ui: 'blue',
    $background-color: $color-blue,
    $border-color:darken($color-blue, 5%)
);

@include extjs-button-small-ui(
    $ui: 'header',
    $color: #999,
    $glyph-color: #919191,
    $background-color: transparent,
    $border-width: 0
);


.nav-tree-badge:after {
    position: absolute;
    height: 18px;
    width: 3.3em;
    display: inline-block;
    text-align: center;
    top: 50%;
    margin-top: -9px;
    right: 12px;
    color: #fff;
    font-weight: 600;
    font-size: 10px;
    line-height: 18px;
}
.pop-out {
    @include box-shadow(2px 2px 8px 2px #ccc);
}

.circular {
    border-radius: 50%;
}

.x-fa {
    &.fa-google-plus {
        min-width: 16px;
        width: auto;
    }
}

